.main{
    width: 100%;
    height: calc(100vh - 122px);
    overflow-y: auto;
    background-color: #FFFFFF;
    &>div:nth-child(1){
        padding: 16px;
        font-weight:500;
        color:rgba(51,51,51,1);
        font-size:14px;
    }
    .changBg{
        background: #409eff!important;
        color: white;
      }
    form{
        width: 60%;
        margin:10px 0px 0px  41px;
        .el-form-item {
            // margin-bottom: 4px;
        }
        // &>>>.el-form-item__error{
        //     top: 90%!important;
        //     padding-top: 0px!important
        // }
        .address{
          margin-top: 10px;
        }
        &>>> .el-button{
            width: 132px!important;
        }
    }
    &::-webkit-scrollbar {
        height: 0;
        width: 0;
        color: transparent;
      }
}